.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery > img {
  height: 150px;
  margin: 2px;
  flex-grow: 1;
}

.picture {
  background: #c3c3c3;
}

img {
  object-fit: cover;
  vertical-align: bottom;
}
