.quiz03-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: radial-gradient(
      75.44% 75.44% at 30.03% 0%,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(236.58deg, #bcbfc8 10.31%, #91a2c6 90.59%), #b9bdc8;
}

.card {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 80%;
  background: #efeeec;
}

.box-1 {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
}

.box-2 {
  display: flex;
  flex-direction: column;
  flex: 2;
  height: 100%;
  background: #ffffff;
}

.room-wrapper {
  display: flex;
  flex: 1;
  width: 100%;
  height: 12%;
  justify-content: flex-end;
  align-items: flex-start;
}

.room {
  display: flex;
  align-items: flex-end;
  background: #2ebaee;
  width: 100%;
  height: 100%;
  padding: 10px 30px;
}

.room span {
  font-size: 34px;
  font-weight: bold;
  color: #ffff;
}

.section-1 {
  flex: 2;
  background: #46529d;
  height: 100%;
  padding-left: 50px;
}

.section-2 {
  flex: 1;
  background: #4d59a1;
  height: 100%;
  padding-left: 50px;
  padding-top: 20px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.content {
  display: flex;
  flex: 1;
  height: 80%;
  justify-content: flex-start;
  align-items: flex-end;
  padding-top: 20px;
}

.current {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 44px;
  margin: 0;
}

.light-weight {
  font-weight: 200;
}

.current > span,
h1,
p {
  color: #ffff;
}

.current > span {
  font-size: 12px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 40px;
}

.opacity-0-5 {
  opacity: 0.5;
}

.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.time {
  font-size: 13px;
  color: #ffff;
  opacity: 0.5;
}

.title {
  font-size: 15px;
  color: #ffff;
  margin-top: 5px;
}

.timeline-header {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  background: #efeeec;
  width: 100%;
  height: 68px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 100px 0 12px;
  width: 100%;
  height: 85%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  width: 150px;
  height: 100%;
  cursor: pointer;
}

.menu > span {
  font-size: 14px;
  opacity: 0.5;
}

.menu > span.active {
  opacity: 1;
}

.menu > div {
  margin-top: 10px;
  width: 20px;
  height: 2px;
}

.menu > div.active {
  margin-top: 10px;
  width: 30px;
  height: 2.5px;
  background: #707fdd;
  box-shadow: 0px -1px 16px rgba(112, 127, 221, 0.75);
}

.timeline-body {
  display: block;
  flex-direction: column;
  padding-top: 20px;
  overflow: scroll;
}

.timeline-section-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 45px;
  background: #f7f7f7;
  border: 1px solid #ececec;
  box-sizing: border-box;
  padding-left: 50px;
  font-size: 15px;
  color: #787878;
}

.timeline {
  position: relative;
  display: table;
  /* height: 100%; */
  margin-top: 30px;
}

.timeline div::after {
  content: "";
  width: 1px;
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  left: 60px;
  z-index: 1;
  background: #e9e3e3;
}

.timeline div section {
  position: relative;
  padding-bottom: 1.25em;
  margin-bottom: 2.2em;
}

.timeline div section ul {
  list-style-type: none;
  padding: 0 0 0 75px;
  margin: -1.35rem 0 1em;
  max-width: 32rem;
  font-size: 14px;
}

.timeline div section ul:last-child {
  margin-bottom: 0;
}

.timeline div section ul:first-of-type:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #23cf5f;
  border: 2px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  left: 54px;
  top: 3px;
  z-index: 2;
}

.timeline div section li {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
}

.timeline div section li:before {
  content: "";
  margin-left: -0.5rem;
  padding-right: 0.3rem;
}

.timeline div section li:not(:first-child) {
  margin-top: 0.5rem;
}

.black {
  color: #000000;
}
